<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="favicon.ico">    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=h1, initial-scale=1.0">
    <title>EJS</title>
</head>
<body>
    <h1>EJS Inicio</h1>
    
    <%- include('partials/navigation.ejs'); -%>
    
</body>
</html>
